<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" [ngStyle]="{'display': openMenuIsq }"
    style="right:0;width:300px" id="rightMenu">
    <button (click)="openMenuIsq='none'" class="w3-bar-item w3-button w3-large">
        My Cart
        &times;
    </button>
    <div class="w3-bar-item">
        <app-cart-list></app-cart-list>
    </div>
</div>
<div class="w3-bar">
    <div class="w3-bar-item">
        <p>REDUX</p>
    </div>
    <button class="w3-bar-item w3-button w3-right" (click)="openMenuIsq='block'">
        ☰
    </button>
    <button class="w3-bar-item w3-button w3-right">
        <i class="fa fa-shopping-cart"></i>
        &nbsp;<span class="w3-badge w3-red"></span>
    </button>
</div>
