<app-navbar></app-navbar>
<div class="w3-container">
    <ul class="w3-ul w3-card-4 w3-margin-top w3-light-grey">
        <li class="w3-bar" *ngFor="let product of products">
            <img src="{{product.thumbnail}}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
                <span class="w3-large">{{ product.title }}</span><br>
                <span>{{ product.description }}</span>
                &nbsp;<button (click)="addProductToCart(product)"
                    class="w3-button w3-white w3-border w3-border-blue w3-round-large">
                    Add to cart</button>
            </div>
        </li>
    </ul>
</div>