.drag-container {
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    padding: 10px;
  }

  .drag-item {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    cursor: move;
  }