<div class="w3-card" [ngClass]="{'w3-pale-yellow': tarea.estado == 'Backlog',
'w3-pale-red': tarea.estado == 'In-process',
'w3-pale-green': tarea.estado == 'Done'} " *ngIf="tarea">
    <div class="w3-container">
        <h5>{{ tarea.titulo }}</h5>
        <p>{{ tarea.descripcion }}</p>
        <div class="w3-bar">
            <button class="w3-button w3-border w3-bar-item" (click)="editar.emit(tarea)">
                <i class="fa fa-pencil-square-o"></i></button>
            <button class="w3-button w3-border w3-bar-item" (click)="eliminar.emit(tarea)">
                <i class="fa fa-trash"></i></button>
        </div>
        <br>
    </div>
</div>