<div class="w3-bar w3-indigo">
    <div class="w3-bar-item">
      <span style="text-shadow:1px 1px 0 #444">Angular Avanzado</span>
    </div>
    <a routerLink="/inicio" class="w3-bar-item w3-button">Inicio</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Modulos</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="/input-output/padre" class="w3-bar-item w3-button">Input-Output</a>
        <a routerLink="/directivas/principal" class="w3-bar-item w3-button">Directivas</a>
        <a routerLink="/toast-sweet" class="w3-bar-item w3-button">Toast-Sweet</a>
        <a routerLink="/reactividad/product-list" class="w3-bar-item w3-button">Reactividad</a>
        <a routerLink="/redux/product-list" class="w3-bar-item w3-button">Redux</a>
        <a routerLink="/kanban-firebase/tareas" class="w3-bar-item w3-button">FireBase</a>
      </div>
    </div>
  </div>
