<div class="w3-container w3-margin-top">
    <div class="w3-row">
        <div class="w3-col s12 m4 l4">
            <div class="w3-container w3-border">
                <div class="w3-bar">
                    <div class="w3-bar-item">
                        <h4>Backlog</h4>
                    </div>
                    <button class="w3-button w3-bar-item w3-right" (click)="openModal='block' ">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div *ngFor="let itm of tareas ">
                    <app-tarea [tarea]="itm" *ngIf="itm.estado == 'Backlog' " (editar)="editarTarea($event)"
                        (eliminar)="eliminarTarea($event)">
                    </app-tarea>
                </div>
            </div>
        </div>
        <div class="w3-col s12 m4 l4">
            <div class="w3-container w3-border">
                <h4>In-process</h4>
                <div *ngFor="let itm of tareas ">
                    <app-tarea [tarea]="itm" *ngIf="itm.estado == 'In-process' " (editar)="editarTarea($event)"
                        (eliminar)="eliminarTarea($event)">
                    </app-tarea>
                </div>
            </div>
        </div>
        <div class="w3-col s12 m4 l4">
            <div class="w3-container w3-border">
                <h4>Done</h4>
                <div *ngFor="let itm of tareas ">
                    <app-tarea [tarea]="itm" *ngIf="itm.estado == 'Done' " (editar)="editarTarea($event)"
                        (eliminar)="eliminarTarea($event)">
                    </app-tarea>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-->
<div class="w3-modal" [ngStyle]="{'display':openModal}">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span (click)="openModal='none' " class="w3-button w3-display-topright">&times;</span>
            <form class="w3-container w3-padding-16">
                <label>Titulo</label>
                <input class="w3-input" [(ngModel)]="tarea.titulo" name="titulo" type="text"
                    [readonly]="accion == 'edit'">
                <label>Descripcion</label>
                <input class="w3-input" [(ngModel)]="tarea.descripcion" name="descripcion" type="text">
                <label>Estado</label>
                <select class="w3-select" name="estado" [(ngModel)]="tarea.estado">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Backlog">Backlog</option>
                    <option value="In-process">In-process</option>
                    <option value="Done">Done</option>
                </select>
                <div class="w3-margin-top">
                    <button class="w3-button w3-indigo w3-block" (click)="onRegistraTarea()">
                        Registar</button>
                </div>
            </form>
        </div>
    </div>
</div>