
<div class="w3-center w3-margin-top">

    <div class="w3-card-4 w3-light-grey">

        <header class="w3-container w3-blue">
          <h1>Toast</h1>
        </header>
        
        <div class="w3-container">
          <p>
            <button class="w3-button w3-green" (click)="showSuccess()" >Exito</button>
          </p>
          <p>
            <button class="w3-button w3-red" (click)="showError()" >Error</button>
          </p>
          <p>
            <button class="w3-button w3-indigo" (click)="viewMessage()" >sweet</button>
          </p>
          <p>
            <i class="fa fa-user fa-2x"></i>

          </p>
          <p>
            <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
          </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5>Sweet</h5>
        </footer>
        
    </div>

</div>
